@import "./variable.scss";

//header section starts
.bg-image {
  background-image: url("../images/work-bg.jpg");
  filter: blur(8px);
  height: 60vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.bg-text {
  color: $white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  font-family: $secondary-font-family;

  p {
    font-family: $secondary-font-family;
    letter-spacing: 3px;
    font-weight: $font-w-700;
    color: $cyan;
  }
}

.logo {
  border: 10px solid $light-blue;
  width: 15%;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 11;
}
//header section ends

//info section starts
.carousel-item {
  height: 500px;
  h1 {
    color: $black;
  }
  h1:after {
    content: " ";
    border: 3px solid red;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    max-width: 100px;
  }
}

.carousel-image-1,
.carousel-image-2,
.carousel-image-3 {
  background: $light-blue;
  background-size: cover;
}

figure {
  margin: 0 20px 0 20px !important;
}

.carousel-caption {
  top: 5px;
}

.info-text {
  top: 30px;
  left: 100px;
}

.redux {
  width: 8%;
}

.css-width {
  width: 6%;
}
.git-width {
  width: 10%;
}
.group-icon {
  margin-left: 20%;
}

.icon-adjust {
  margin-bottom: -200px;
}

.horizontally {
  height: 100px;
  overflow: hidden;
  position: relative;
}
//info section ends

//footer section starts

.footer {
  font-family: $primary-font-family;
  letter-spacing: 1px;
  background: $light-blue;

  .contact-img {
    width: 65%;
  }

  table {
    text-align: center;
  }

  td {
    border: none;
    color: $black;

    img {
      width: 8%;
      margin-right: 20px;
    }
  }

  .social-icons {
    text-align: center;
    padding: 130px 0 0 0;

    a {
      padding-right: 15px;
    }
    img {
      width: 10%;
    }
  }
}

//footer section ends

//media queries
@media (max-width: 768px) {
  .icon {
    width: 25%;
  }
  .css-width {
    width: 18%;
  }
  .logo {
    width: 50% !important;
  }
  .carousel-image-2,
  .carousel-image-3 {
    height: 850px;
  }

  .contact-img {
    width: 100% !important;
  }
}

@media (max-width: 500px) {
  .display-1 {
    font-size: 4rem !important;
  }

  .carousel-caption {
    top: 80px;
  }
  .carousel-image-2,
  .carousel-image-3 {
    height: 1150px;
  }
  .carousel-image-1 {
    height: 650px;
  }
}

.hey {
  transform: translate3d(496.839px, 233.512px, 0px);
}
